<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" package="com.iCube.Questy" android:versionName="0.a" android:installLocation="auto" android:versionCode="1">
	<uses-sdk android:minSdkVersion="16" android:targetSdkVersion="24" />
	<uses-permission android:name="android.permission.CAMERA" />
	<uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
	<uses-permission android:name="android.permission.INTERNET" />
	<application android:label="Questy.Android"></application>
</manifest>